.container {
    height: 100vh;
    background-image: url("src/assets/images/background/contact.png");
    background-size: cover;
    color: #5B1F05;
}

.title {
    text-align: center;
    padding-bottom: 10px;
}

.container form {
    margin: 0 auto;
    width: 75%;
}

.container input, textarea {
    width: 100%;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #5B1F05;
    box-sizing: border-box;
    padding: 5px;
}

.container textarea {
    height: calc(1.3em * 5);
    line-height: 1.3;
}

.container div {
    padding-bottom: 20px;
}
