.topImg {
    width: 100%;
    padding-top: calc(2000 / 1660 * 100%);
    background: url(src/assets/images/home/top.jpg) no-repeat 0 0 / cover;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .topImg {
        width: 100%;
        padding-top: calc(1500 / 1660 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
        background: url(src/assets/images/home/top.jpg) center center / cover no-repeat;
        position: relative;
    }
}

.container {
    padding-top: 24px;
    background-image: url("src/assets/images/background/home.png");
    background-size: cover;
}

.instagramImg {
    width: 300px;
    height: 300px;
}

.topContainer {
    position: absolute;
    background: -moz-linear-gradient(top, rgb(255, 255, 255), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255), rgba(0, 0, 0, 0));
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0));
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color:#5B1F05;
}

.topText {
    padding-top: 20px;
    font-weight: normal;
}

.genreContainer {
    text-align: center;
    color: #5B1F05;
    padding-top: 24px;
}

.genreContainer p {
    white-space: pre-wrap;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.instagramContainer {
    text-align: center;
    color: #5B1F05;
    padding-top: 20px;
}

.instagramContainer h2 {
    padding-top: 20px;
}

.instagramImageContainer {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.instagramTitle {
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 20px;
}

.instagramContainer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.instagramContainer li {
    list-style: none;
    padding-bottom: 30px;
    padding-right: 3px;
    width: calc(90% / 3);
}

.instagramImg {
    max-width: 100%;
    height: auto;
}

.safeContainer {
    text-align: center;
    color: #5B1F05;
    padding-top: 20px;
    padding-bottom: 20px;
}

.safeContainer p {
    white-space: pre-wrap;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.safeTitle {
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 20px;
}

.customerContainer {
    text-align: center;
    color: #5B1F05;
    padding-top: 20px;
    padding-bottom: 100px;
}

.customerTitle {
    font-size: 21px;
    padding-bottom: 20px;
    font-weight: normal;
}

.customerContainer p {
    white-space: pre-wrap;
    line-height: 30px;
    letter-spacing: 1.5px;
}