.background {
    width: 100%;
    min-height: 100%;
    background-image: url("src/assets/images/background/photographer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align:center;
    color: #5B1F05;
}

.titleContainer {
    padding-top: 21px;
    padding-bottom: 21px;
}

.imgContainer {
    width: 30%;
    margin: auto;
    padding-bottom: 21px;
}

.photographerImg {
    width: 100%;
}

.communication {
    white-space: pre-wrap;
    line-height: 2em;
}