.background {
    width: 100%;
    height: 100vh;
    background-image: url("src/assets/images/background/photographer.png");
    background-size: cover;
    text-align:center;
    color: #5B1F05;
}

.titleContainer {
    margin-top: 21px;
    margin-bottom: 21px;
}

.photographerImg {
    width: 25%;
}

.communication {
    white-space: pre-wrap;
    line-height: 2em;
}