.background {
    width: 100%;
    height: 100%;
    display: block;
    /* calc(画像高さ ÷ 画像横幅 × 100%) */
    /* padding-top: calc(1500 / 1660 * 100%); */
    /* background: url(src/assets/images/home/top.jpg) center center / cover no-repeat; */
    position: relative;
    text-align:center;
}

.title {
    color: #5B1F05;
    padding-top: 21px;
    padding-bottom: 21px;
}

.photographerImg {
    width: 25%;
    padding-bottom: 21px;
}

.photographerName {
    color: #5B1F05;
}

.introduction {
    color: #5B1F05;
}

.communication {
    white-space: pre-wrap;
    line-height: 2em;
}