.topImg {
    width: 100%;
    padding-top: calc(1500 / 1660 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url("src/assets/images/price/top.jpg") center center / cover no-repeat;
    position: relative;
}

.container {
    text-align: center;
    color: #5B1F05;
    background-image: url("src/assets/images/background/price.png");
}

.planText {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* anniversary */
.anniversaryContainer {
    width: 75%;
    margin: 0 auto;
}

.anniversaryTitle {
    padding-bottom: 20px;
}

.anniversaryContents {
    text-align: left;
}

.anniversaryData {
    text-indent: 5.0em;
}

/* senior */
.seniorContainer {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 75%;
    margin: 0 auto;
}

.seniorTitle {
    padding-bottom: 20px;
}

.seniorContents {
    text-align: left;
}

/* couple */
.coupleContainer {
    position: relative;
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: .5em .25em;
    border: 1px solid #000;

    border-top: none;
    box-sizing: border-box;

    background: linear-gradient(to right,
    #000 calc(50% - 3em), transparent calc(50% - 3em),
    transparent calc(50% + 3em), #000 calc(50% + 3em)) 0 0/100% 1px;
    background-repeat: no-repeat;
    white-space: pre-wrap;
}

.coupleContainer p {
    color: #F0047F;
    position: absolute;
    top: -18px;
    left: calc(50% - 2em);
    transform: translateY(-50%);
}

/* option */
.optionTitle {
    padding-top: 30px;
}

/* picture */
.pictureContainer {
    width: 75%;
    padding-top: 20px;
    margin: 0 auto;
}

.pictureContainer p {
    white-space: pre-wrap;
}

/* dvd */
.dvdContainer {
    width: 75%;
    padding-top: 20px;
    margin: 0 auto;
}

.dvdContainer p {
    white-space: pre-wrap;
}