.topImg {
    width: 100%;
    padding-top: calc(1500 / 1660 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url("src/assets/images/price/top.jpg") center center / cover no-repeat;
    position: relative;
}

.container {
    text-align: center;
    color: #5B1F05;
    background-image: url("src/assets/images/background/price.png");
}

.planText {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* anniversary */
.anniversaryContainer {
    width: 75%;
    margin: 0 auto;
}

.anniversaryTitle {
    padding-bottom: 20px;
}

.anniversaryContents {
    text-align: left;
}

.anniversaryData {
    text-indent: 5.0em;
}

/* senior */
.seniorContainer {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 75%;
    margin: 0 auto;
}

.seniorTitle {
    padding-bottom: 20px;
}

.seniorContents {
    text-align: left;
}

/* couple */
.coupleContainer {
    position: relative;
    width: 75%;
    margin: 0 auto;
    border: solid 1px black;
}

.coupleTitle {
    position: absolute;
    display: inline-block;
    top: -40px;
    left: 40%;
    color: pink;
    background-color: white;
}

.coupleContents {
    white-space: pre-wrap;
}

/* option */
.optionTitle {
    padding-top: 30px;
}

/* picture */
.pictureContainer {
    width: 75%;
    padding-top: 20px;
    margin: 0 auto;
}

.pictureContainer p {
    white-space: pre-wrap;
}

/* dvd */
.dvdContainer {
    width: 75%;
    padding-top: 20px;
    margin: 0 auto;
}

.dvdContainer p {
    white-space: pre-wrap;
}