.topImg {
    width: 80%;
    padding-top: calc(1500 / 1660 * 50%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url("src/assets/images/price/top.jpg") center center / cover no-repeat;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .topImg {
        width: 100%;
        padding-top: calc(1500 / 1660 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
        background: url("src/assets/images/price/top.jpg") center center / cover no-repeat;
        position: relative;
    }
}

.container {
    text-align: center;
    color: #5B1F05;
    background-image: url("src/assets/images/background/price.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.planText {
    font-weight: normal;
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 30px;
}

@media screen and (max-width: 480px) {
    .planText {
        padding-top: 40px;
        font-size: 30px;
    }
}

/* anniversary */
.anniversaryContainer {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 80px;
}

@media screen and (max-width: 480px) {
    .anniversaryContainer {
        padding-bottom: 20px;
    }
}

.anniversaryContainer p {
    line-height: 30px;
    letter-spacing: 1.5px;
}

.anniversaryTitle {
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .anniversaryTitle {
        padding-top: 40px;
        font-size: 20px;
    }
}

.anniversaryContents {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .anniversaryContents p {
        line-height: normal;
        letter-spacing: normal;
    }

    .anniversaryIndent {
        text-indent: 4em;
    }
}

/* senior */
.seniorContainer {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 85%;
    margin: 0 auto;
}

.seniorContainer p {
    line-height: 30px;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 480px) {
    .seniorContainer p {
        line-height: normal;
        letter-spacing: normal;
    }

    .seniorIndent {
        text-indent: 4em;
    }
}

.seniorTitle {
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .seniorTitle {
        padding-top: 40px;
        font-size: 20px;
    }
}

.seniorContents {
    text-align: center;
}

/* couple */
.coupleContainer {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .coupleContainer {
        width: 70%;
    }
}

.coupleTitle {
    color: #F0047F;
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 5px;
}

@media screen and (max-width: 480px) {
    .coupleTitle {
        font-size: 17px;
    }
}

.coupleTextContainer p {
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    line-height: 30px;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 480px) {
    .coupleTextContainer p {
        line-height: normal;
        letter-spacing: normal;
    }
}

.coupleTextContainer {
    border: black 1px solid;;
}

/* option */
.optionContainer {
    padding-bottom: 100px;
}

.optionTitle {
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 20px;
    padding-top: 30px;
}

@media screen and (max-width: 480px) {
    .optionTitle {
        padding-top: 40px;
        font-size: 20px;
    }
}

/* picture */
.pictureContainer {
    width: 85%;
    padding-top: 20px;
    margin: 0 auto;
}

.pictureContainer p {
    white-space: pre-wrap;
    line-height: 30px;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 480px) {
    .pictureContainer p {
        line-height: normal;
        letter-spacing: normal;
    }
}

.pictureTitle {
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .pictureTitle {
        padding-top: 40px;
        font-size: 17px;
    }
}

/* dvd */
.dvdContainer {
    width: 85%;
    padding-top: 20px;
    margin: 0 auto;
}

.dvdContainer p {
    white-space: pre-wrap;
    line-height: 30px;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 480px) {
    .dvdContainer p {
        line-height: normal;
        letter-spacing: normal;
    }
}

.dvdTitle {
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .dvdTitle {
        padding-top: 40px;
        font-size: 17px;
    }
}