.header {
    height: 100px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    position: relative;
}

.titleImg {
    width: 500px;
    margin-left: 10px;
}

@media screen and (max-width: 480px) {
    .titleImg {
        width: 300px;
    }
}

.hamburgerMenu {
    margin-left: auto;
    margin-right: 10px;
}