.header {
    height: 100px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    position: relative;
    margin-top: 5px;
}

.titleImg {
    width: 300px;
    margin-left: 20px;
}

@media screen and (max-width: 480px) {
    .header {
        height: 40px;
        width: 100%;
    }

    .titleImg {
        width: 200px;
    }
}

.hamburgerMenu {
    margin-left: auto;
    margin-right: 20px;
}